<div class="wrapper">
  <div class="side-bar">
    <div class="users"></div>
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <div class="chatroom-name"></div>
    <%= render "main_chat" %>
    <div class="chat-message-space"></div>
  </div>
</div>